// Toadstool comes pre-loaded with a series of pre-developed buttons
// All style attributes are managed in the `_config.scss` file
// -----------------------------------------------------------------------------
// $button-color:  $delta-color;
// $button-text-color: $white;
// $button-line-height: 32;
// $button-border-radius: 3;
// $button-padding: 20;
// $button-font-size: 18;
// $button-weight: bold;
// $button-text-shadow: true;
// $button-box-shadow: true;
// --------------------------------------------------------------------

// Custom button extends and mixins
// -----------------------------------------------------------------------
@import "buttons/mixins";
@import "buttons/extends";

// buttons
// --------------------------------------------------------------------
button, a.button {
  @include gloss-default;
  &:nth-child(2) {
    @include shiny-default;
  }
  &:nth-child(3) {
    @include flat-default;
  }
  &:nth-child(4) {
    @include three-dee;
  }
  margin-left: 1em;
  &:nth-child(1) {
    margin-left: 0;
  }
}