// Where does this code come from?

// Placeholder extends with the `stipe_` prefix come from the Stipe gem. 
// TO DO: link to github forms/extends
// TO DO: link to github forms/mixins

// TO DO: breakout list of config options

// The variable UI parts of these placeholders are managed via your `_config.scss` file.

// Import custom extends and mixins
// -----------------------------------------------------------------------
@import "forms/*";

// Your styles
// -----------------------------------------------------------------------
input[type=email], input[type=password], input[type=text], input[type=number] {
  @extend %stipe_input_fields; 
}

// not represented in the style guide view
input[disabled], textarea[disabled], select[disabled], .disabled {
  @extend %stipe_disabled_inputs;
}

label {
  @extend %stipe_form_labels;
}

.instructional {
  @extend %instructional;
}

.fail {
  @extend %stipe_fail;
}

.inline_alert {
  @extend %inline_alert;
}