// *-------------------------------------------------------------------------------
// intent of the 'text' SCSS is that all essential text elements for the application are placed here
// individual element styling will be addressed in element name spaced SCSS files
// *-------------------------------------------------------------------------------

html {
	font: #{$font_size / 16 * 1em}/$line_height $primary_font_family;
	color: $primary_text;
}

h1 {
	//font-size: 2em;  // user agent default
	@extend .headings_1;
}

h2 {
	//font-size: 1.5em;  // user agent default
	@extend .headings_2;
}

h3 {
	//font-size:  1.17em;  // user agent default
	@extend .headings_3;
}
	
h4 {
	//font-size:  1em;  // user agent default
	@extend .headings_4;
}
	
// h5 {
	//font-size:  0.83em;  // user agent default
// }

// h6 {
	//font-size:  0.75em;  // user agent default
// }

// Standard body text support
// --------------------------------
p {
	margin-bottom: 1em;
	text-indent: 0;
	&:last-child {
		margin-bottom: 0;
	}
}

b {
	&:after {
		content: " ";
	}
}


// :link Pseudo-class is totally not necessary as I can tell
// code here to combat legacy code
a {
	&:link {
		color: $href_color;
		text-decoration: none;
	}
	&:hover, &:active {
		text-decoration: underline;
	}
	&:visited {
		color: $href_color;
	}
}