<div class="example_code">
  <p class="codeToggle"><a href="#">view</a></p>
  <pre class="prettyprint linenums hidden">
<%= code content %>
  </pre>
  <p><%= path %></p>
  <p class="mtime">
    Last modified: <%= mtime %>
  </p>
</div>