<header class="toadstool_main_header">
	<h1>logo here</h1>
	<button class="nav_toggle">|||</button>
	<form>
		<select>
			<option value="">Drop down for</option>
			<option value="">switching functionality</option>
		</select>
	</form>	
	
</header>

<script>
$(".nav_toggle").click(function () {
	$(".toadstool_nav").toggle();
});    
</script>