<header class="toadstool_main_header">
	<h1>logo here</h1>
	<form>
		<select>
			<option value="">Drop down for</option>
			<option value="">switching functionality</option>
		</select>
	</form>	
</header>