<section id="web_fonts">
	<header class="toadstool_subheader">
		<h2>web fonts</h2>
		<article>
			<p>You like web-fonts, well so do we. Toadstool and Stipe come fully equipped to support web fonts right out of the box. In Toadstool's public directory is a folder for fonts. Toadstool comes pre-loaded with <a href="#">Font Awesome</a> and <a href="#">Zocial</a>. </p>
		</article>
		
		
	
	</header>
</section>
