<form>
  <fieldset>
    <ol>
      <li>
        <label for="general_text">General text input<span>(optional)</span></label>
        <input type="text" name="general_text" id="general_text" placeholder="general text" />
        <p class="instructional">We think that you need help with this one, so ...</p>
      </li> 
    </ol>
  </fieldset>
</form>