<section id="grid_arguments">
	<header class="toadstool_subheader">
		<h2>grid arguments</h2>
		<article>
			<p>Additional arguments can be passed into the grid mixin to include <code>$grid_padding_l, $grid_padding_r, $grid_padding_tb, $grid_border, $grid_uom, $col_gutter, $grid_type, $grid_align, $grid_context</code></p>

			<ul>
				<li><code>$grid_padding_l</code> => adds padding LEFT, takes integer value</li>
				<li><code>$grid_padding_r</code> => adds padding RIGHT, takes integer value</li>
				<li><code>$grid_padding_tb</code> => adds padding TOP and BOTTOM, takes integer value</li>
				<li><code>$grid_border</code> => takes integer value, adds border using <code>$border_color</code> and <code>$standard_border_style</code> configs found in <code>_config.scss</code>.</li>
				<li><code>$border_place</code> => options are <code>left</code> and <code>right</code>. Argument will place a single border on either the left or right side of the block.</li>
				<li><code>$grid_uom</code> => set to percent by default, accepts <code>em</code> as argument.</li>
				<li><code>$col_gutter</code> => takes integer to adjust col gutter</li>
				<li><code>$grid_type</code> => set to 12 col by default, allows for on-the-fly adjustment to grid type <b>Feature is currently inoperable</b></li>
				<li><code>$grid_align</code> => takes <code>center</code> as argument</li>
				<li><code>$grid_context</code> => Adjusts column widths based on nested grid context. Necessary when calcuclating with percentages</li>
			</ul>
			<p>Stipe uses the <code>box-size</code> CSS property, but this is not supported by IE7. By entereing values like <code>$grid_padding_l, $grid_padding_r, $grid_border</code>, Stipe will calculate a width that IE7 can use.</p>
		</article>
	</header>
</section>
