	<header class="toadstool_header">
		<h1>colors</h1>
	</header>

  <article class="colorcode">
    <header class="toadstool_subheader">
      <h2>Typography</h2>
    </header>
    <div class="primary_header_color">
      <p>$primary_header_color</p>
    </div>
    <div class="primary_text">
      <p>$primary_text</p>
    </div>
    <div class="secondary_text">
      <p>$secondary_text</p>
    </div>
    <div class="href_color">
      <p>$href_color</p>
    </div>
  </article>


  <article class="colorcode">  
    <header class="toadstool_subheader">
      <h2>Borders, rules and shadows</h2>
    </header>
    <div class="shadow_color">
      <p>$shadow_color</p>
    </div>
    <div class="border_color">
      <p>$border_color</p>
    </div>
    <div class="standard_hr_color">
      <p>$standard_hr_color</p>
    </div>
    <div class="standard_border_color">
      <p>$standard_border_color</p>
    </div>
  </article>

  <article class="colorcode">  
    <header class="toadstool_subheader">
      <h2>Form elements</h2>
    </header>
    
    <div class="alert_background_color">
      <p>$alert_background_color</p>
    </div>
    <div class="input_disabled">
      <p>$input_disabled</p>
    </div>
    <div class="input_disabled_bkg">
      <p>$input_disabled_bkg</p>
    </div>
    <div class="input_disabled_border">
      <p>$input_disabled_border</p>
    </div>
    <div class="input_disabled_text">
      <p>$input_disabled_text</p>
    </div>
    <div class="form_field_background_color">
      <p>$form_field_background_color</p>
    </div>
    <div class="form_field_focus_color">
      <p>$form_field_focus_color</p>
    </div>
    <div class="form_field_fail_bkg">
      <p>$form_field_fail_bkg</p>
    </div>
    <div class="form_field_border">
      <p>$form_field_border</p>
    </div>
    <div class="form_field_border_fail">
      <p>$form_field_border_fail</p>
    </div>
    <div class="form_field_focus_border_color">
      <p>$form_field_focus_border_color</p>
    </div>
    <div class="form_field_text_fail">
      <p>$form_field_text_fail</p>
    </div>
    <div class="form_label_color">
      <p>$form_label_color</p>
    </div>
    <div class="optional_field_text_color">
      <p>$optional_field_text_color</p>
    </div>
    <div class="instructional_text">
      <p>$instructional_text</p>
    </div>
    <div class="placeholder_text">
      <p>$placeholder_text</p>
    </div>
    <div class="inline_alert_bkg_color">
      <p>$inline_alert_bkg_color</p>
    </div>
    <div class="inline_alert_text_color">
      <p>$inline_alert_text_color</p>
    </div>
  </article>

  <article class="colorcode">  
    <header class="toadstool_subheader">
      <h2>Buttons</h2>
    </header>
    <div class="button_color">
      <p>$button_color</p>
    </div>
    <!-- <div class="primary_button_border_color">
      <p>$primary_button_border_color</p>
    </div> -->
    <div class="secondary_button_border_color">
      <p>$secondary_button_border_color</p>
    </div>
    <div class="button_text">
      <p>$button_text</p>
    </div>
  </article>

	<article class="colorcode">
		<header class="toadstool_subheader">
      <h2>HTML5 colors<a href="#">(view all)</a></h2>
		</header>
    <div class="webkit_tap_hightlight">
        <p>$webkit_tap_hightlight</p>
      </div>
		<section class="hidden">
      <div class="ins_color">
        <p>$ins_color</p>
      </div>
      <div class="selection_color">
        <p>$selection_color</p>
      </div>
      <div class="selection_text_color">
        <p>$selection_text_color</p>
      </div>
      <div class="mark_color">
        <p>$mark_color</p>
      </div>
    </section>
  </article>


	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>grayscale<a href="#">(view all)</a></h2>
		</header>
    <div class="alpha_gray">
      <p>$alpha_gray</p>
    </div>
		<section class="hidden">  		
  		<div class="bravo_gray">
  			<p>$bravo_gray</p>
  		</div>
  		<div class="charlie_gray">
  			<p>$charlie_gray</p>
  		</div>
  		<div class="delta_gray">
  			<p>$delta_gray</p>
  		</div>
  		<div class="echo_gray">
  			<p>$echo_gray</p>
  		</div>
  		<div class="fox_gray">
  			<p>$fox_gray</p>
  		</div>
  		<div class="golf_gray">
  			<p>$golf_gray</p>
  		</div>
  		<div class="hotel_gray">
  			<p>$hotel_gray</p>
  		</div>
  		<div class="india_gray">
  			<p>$india_gray</p>
  		</div>
      <div class="white">
        <p>$white</p>
      </div>
    </section>
	</article>
	
	<article class="colorcode">
  		<header class="toadstool_subheader">
  			<h2>alpha color scale<a href="#">(view all)</a></h2>
  		</header>
      <div class="alpha_color">
          <p>$alpha_color</p>
        </div>
  		<section class="hidden">
    		<div class="alpha_color_bravo">
    			<p>$alpha_color_bravo</p>
    		</div>
    		<div class="alpha_color_charlie">
    			<p>$alpha_color_charlie</p>
    		</div>
    		<div class="alpha_color_delta">
    			<p>$alpha_color_delta</p>
    		</div>
    		<div class="alpha_color_echo">
    			<p>$alpha_color_echo</p>
    		</div>
    		<div class="alpha_color_fox">
    			<p>$alpha_color_fox</p>
    		</div>
    		<div class="alpha_color_golf">
    			<p>$alpha_color_golf</p>
    		</div>
    		<div class="alpha_color_hotel">
    			<p>$alpha_color_hotel</p>
    		</div>
    		<div class="alpha_color_india">
    			<p>$alpha_color_india</p>
    		</div>
    		<div class="alpha_color_juliet">
    			<p>$alpha_color_juliet</p>
    		</div>
      </section>
  	</article>
  	
  	<article class="colorcode">
  		<header class="toadstool_subheader">
  			<h2>bravo color scale<a href="#">(view all)</a></h2>
  		</header>
      <div class="bravo_color">
        <p>$bravo_color</p>
      </div>
  		<section class="hidden">
    		<div class="bravo_color_bravo">
    			<p>$bravo_color_bravo</p>
    		</div>
    		<div class="bravo_color_charlie">
    			<p>$bravo_color_charlie</p>
    		</div>
    		<div class="bravo_color_delta">
    			<p>$bravo_color_delta</p>
    		</div>
    		<div class="bravo_color_echo">
    			<p>$bravo_color_echo</p>
    		</div>
    		<div class="bravo_color_fox">
    			<p>$bravo_color_fox</p>
    		</div>
    		<div class="bravo_color_golf">
    			<p>$bravo_color_golf</p>
    		</div>
    		<div class="bravo_color_hotel">
    			<p>$bravo_color_hotel</p>
    		</div>
    		<div class="bravo_color_india">
    			<p>$bravo_color_india</p>
    		</div>
    		<div class="bravo_color_juliet">
    			<p>$bravo_color_juliet</p>
    		</div>
      </section>
  	</article>
  	
  	<article class="colorcode">
  		<header class="toadstool_subheader">
  			<h2>charlie color scale<a href="#">(view all)</a></h2>
  		</header>
      <div class="charlie_color">
        <p>$charlie_color</p>
      </div>
  		<section class="hidden">
    		<div class="charlie_color_bravo">
    			<p>$charlie_color_bravo</p>
    		</div>
    		<div class="charlie_color_charlie">
    			<p>$charlie_color_charlie</p>
    		</div>
    		<div class="charlie_color_delta">
    			<p>$charlie_color_delta</p>
    		</div>
    		<div class="charlie_color_echo">
    			<p>$charlie_color_echo</p>
    		</div>
    		<div class="charlie_color_fox">
    			<p>$charlie_color_fox</p>
    		</div>
    		<div class="charlie_color_golf">
    			<p>$charlie_color_golf</p>
    		</div>
    		<div class="charlie_color_hotel">
    			<p>$charlie_color_hotel</p>
    		</div>
    		<div class="charlie_color_india">
    			<p>$charlie_color_india</p>
    		</div>
    		<div class="charlie_color_juliet">
    			<p>$charlie_color_juliet</p>
    		</div>
      </section>
  	</article>
  	
  	<article class="colorcode">
  		<header class="toadstool_subheader">
  			<h2>delta color scale<a href="#">(view all)</a></h2>
  		</header>
      <div class="delta_color">
        <p>$delta_color</p>
      </div>
  		<section class="hidden">
    		<div class="delta_color_bravo">
    			<p>$delta_color_bravo</p>
    		</div>
    		<div class="delta_color_charlie">
    			<p>$delta_color_charlie</p>
    		</div>
    		<div class="delta_color_delta">
    			<p>$delta_color_delta</p>
    		</div>
    		<div class="delta_color_echo">
    			<p>$delta_color_echo</p>
    		</div>
    		<div class="delta_color_fox">
    			<p>$delta_color_fox</p>
    		</div>
    		<div class="delta_color_golf">
    			<p>$delta_color_golf</p>
    		</div>
    		<div class="delta_color_hotel">
    			<p>$delta_color_hotel</p>
    		</div>
    		<div class="delta_color_india">
    			<p>$delta_color_india</p>
    		</div>
    		<div class="delta_color_juliet">
    			<p>$delta_color_juliet</p>
    		</div>
      </section>
  	</article>
  	
  	<article class="colorcode">
  		<header class="toadstool_subheader">
  			<h2>echo color scale<a href="#">(view all)</a></h2>
  		</header>
      <div class="echo_color">
        <p>$echo_color</p>
      </div>
  		<section class="hidden">
    		<div class="echo_color_bravo">
    			<p>$echo_color_bravo</p>
    		</div>
    		<div class="echo_color_charlie">
    			<p>$echo_color_charlie</p>
    		</div>
    		<div class="echo_color_delta">
    			<p>$echo_color_delta</p>
    		</div>
    		<div class="echo_color_echo">
    			<p>$echo_color_echo</p>
    		</div>
    		<div class="echo_color_fox">
    			<p>$echo_color_fox</p>
    		</div>
    		<div class="echo_color_golf">
    			<p>$echo_color_golf</p>
    		</div>
    		<div class="echo_color_hotel">
    			<p>$echo_color_hotel</p>
    		</div>
    		<div class="echo_color_india">
    			<p>$echo_color_india</p>
    		</div>
    		<div class="echo_color_juliet">
    			<p>$echo_color_juliet</p>
    		</div>
      </section>
  	</article>
