	<header class="toadstool_header">
		<h1>colors</h1>
	</header>
	
	<%#= partial :"grids/use_definition" %>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>grayscale objects</h2>
		</header>
		<div class="white border">
			<p>$white</p>
		</div>
		<div class="alpha_gray">
			<p>$alpha_gray</p>
		</div>
		<div class="bravo_gray">
			<p>$bravo_gray</p>
		</div>
		<div class="charlie_gray">
			<p>$charlie_gray</p>
		</div>
		<div class="delta_gray">
			<p>$delta_gray</p>
		</div>
		<div class="echo_gray">
			<p>$echo_gray</p>
		</div>
		<div class="fox_gray">
			<p>$fox_gray</p>
		</div>
		<div class="golf_gray">
			<p>$golf_gray</p>
		</div>
		<div class="hotel_gray">
			<p>$hotel_gray</p>
		</div>
		<div class="india_gray">
			<p>$india_gray</p>
		</div>
	</article>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>alpha objects</h2>
		</header>
		<div class="alpha_color">
			<p>$alpha_color</p>
		</div>
		<div class="alpha_color_bravo">
			<p>$alpha_color_bravo</p>
		</div>
		<div class="alpha_color_charlie">
			<p>$alpha_color_charlie</p>
		</div>
		<div class="alpha_color_delta">
			<p>$alpha_color_delta</p>
		</div>
		<div class="alpha_color_echo">
			<p>$alpha_color_echo</p>
		</div>
		<div class="alpha_color_fox">
			<p>$alpha_color_fox</p>
		</div>
		<div class="alpha_color_golf">
			<p>$alpha_color_golf</p>
		</div>
		<div class="alpha_color_hotel">
			<p>$alpha_color_hotel</p>
		</div>
		<div class="alpha_color_india">
			<p>$alpha_color_india</p>
		</div>
		<div class="alpha_color_juliet">
			<p>$alpha_color_juliet</p>
		</div>
	</article>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>bravo objects</h2>
		</header>
		<div class="bravo_color">
			<p>$bravo_color</p>
		</div>
		<div class="bravo_color_bravo">
			<p>$bravo_color_bravo</p>
		</div>
		<div class="bravo_color_charlie">
			<p>$bravo_color_charlie</p>
		</div>
		<div class="bravo_color_delta">
			<p>$bravo_color_delta</p>
		</div>
		<div class="bravo_color_echo">
			<p>$bravo_color_echo</p>
		</div>
		<div class="bravo_color_fox">
			<p>$bravo_color_fox</p>
		</div>
		<div class="bravo_color_golf">
			<p>$bravo_color_golf</p>
		</div>
		<div class="bravo_color_hotel">
			<p>$bravo_color_hotel</p>
		</div>
		<div class="bravo_color_india">
			<p>$bravo_color_india</p>
		</div>
		<div class="bravo_color_juliet">
			<p>$bravo_color_juliet</p>
		</div>
	</article>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>charlie objects</h2>
		</header>
		<div class="charlie_color">
			<p>$charlie_color</p>
		</div>
		<div class="charlie_color_bravo">
			<p>$charlie_color_bravo</p>
		</div>
		<div class="charlie_color_charlie">
			<p>$charlie_color_charlie</p>
		</div>
		<div class="charlie_color_delta">
			<p>$charlie_color_delta</p>
		</div>
		<div class="charlie_color_echo">
			<p>$charlie_color_echo</p>
		</div>
		<div class="charlie_color_fox">
			<p>$charlie_color_fox</p>
		</div>
		<div class="charlie_color_golf">
			<p>$charlie_color_golf</p>
		</div>
		<div class="charlie_color_hotel">
			<p>$charlie_color_hotel</p>
		</div>
		<div class="charlie_color_india">
			<p>$charlie_color_india</p>
		</div>
		<div class="charlie_color_juliet">
			<p>$charlie_color_juliet</p>
		</div>
	</article>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>delta objects</h2>
		</header>
		<div class="delta_color">
			<p>$delta_color</p>
		</div>
		<div class="delta_color_bravo">
			<p>$delta_color_bravo</p>
		</div>
		<div class="delta_color_charlie">
			<p>$delta_color_charlie</p>
		</div>
		<div class="delta_color_delta">
			<p>$delta_color_delta</p>
		</div>
		<div class="delta_color_echo">
			<p>$delta_color_echo</p>
		</div>
		<div class="delta_color_fox">
			<p>$delta_color_fox</p>
		</div>
		<div class="delta_color_golf">
			<p>$delta_color_golf</p>
		</div>
		<div class="delta_color_hotel">
			<p>$delta_color_hotel</p>
		</div>
		<div class="delta_color_india">
			<p>$delta_color_india</p>
		</div>
		<div class="delta_color_juliet">
			<p>$delta_color_juliet</p>
		</div>
	</article>
	
	<article class="colorcode">
		<header class="toadstool_subheader">
			<h2>echo objects</h2>
		</header>
		<div class="echo_color">
			<p>$echo_color</p>
		</div>
		<div class="echo_color_bravo">
			<p>$echo_color_bravo</p>
		</div>
		<div class="echo_color_charlie">
			<p>$echo_color_charlie</p>
		</div>
		<div class="echo_color_delta">
			<p>$echo_color_delta</p>
		</div>
		<div class="echo_color_echo">
			<p>$echo_color_echo</p>
		</div>
		<div class="echo_color_fox">
			<p>$echo_color_fox</p>
		</div>
		<div class="echo_color_golf">
			<p>$echo_color_golf</p>
		</div>
		<div class="echo_color_hotel">
			<p>$echo_color_hotel</p>
		</div>
		<div class="echo_color_india">
			<p>$echo_color_india</p>
		</div>
		<div class="echo_color_juliet">
			<p>$echo_color_juliet</p>
		</div>
	</article>
