<article>
	<header class="toadstool_header">
		<h1>form</h1>
	</header>
	
	<section id="text_inputs">
		<header class="toadstool_subheader">
			<h2>text inputs</h2>
			<article>
				<p>Copy goes here about how form inputs work</p>
				<!-- <p><a href="#" class="click_more_typography">Read more ...</a></p> -->
			</article>
			
			<article class="read_more_inputs hidden"></article>
		</header>
		
		<article class="element_example">
			<form>
				<fieldset>
					<ol>
						<li>
							<label for="login_username">Username</label>
							<input type="text" autocapitalize="off" autocorrect="off" name="username" id="login_username" placeholder="username" tabindex="1" />
						</li>
						<li>
							<label for="login_password">Password</label>
							<input type="password" name="password" id="login_password" placeholder="password" tabindex="2" />
						</li>			
					</ol>
					<fieldset>
						<button disabled>Sign in</button>
					</fieldset>
				</fieldset>
			</form>
		</article>
	</section>
	


	<footer class="toadstool_footer"></footer>
</article>