	<header class="toadstool_header">
		<h1>grids</h1>
	</header>
	
	<%= partial :"grids/use_definition" %>
	
	<article class="element_example col_12_grid shift">
		<ul>
			<li class="grid-1">1 col</li>
			<li class="grid-11">11 col</li>
		</ul>
		<ul>
			<li class="grid-2">2 col</li>
			<li class="grid-10">10 col</li>
		</ul>
		<ul>
			<li class="grid-3">3 col</li>
			<li class="grid-9">9 col</li>
		</ul>
		<ul>
			<li class="grid-4">4 col</li>
			<li class="grid-8">8 col</li>
		</ul>
		<ul>
			<li class="grid-5">5 col</li>
			<li class="grid-7">7 col</li>
		</ul>
		<ul>
			<li class="grid-6">6 col</li>
			<li class="grid-6">6 col</li>
		</ul>
		<ul>
			<li class="grid-7">7 col</li>
			<li class="grid-5">5 col</li>
		</ul>
		<ul>
			<li class="grid-8">8 col</li>
			<li class="grid-4">4 col</li>
		</ul>
		<ul>
			<li class="grid-9">9 col</li>
			<li class="grid-3">3 col</li>
		</ul>
		<ul>
			<li class="grid-10">10 col</li>
			<li class="grid-2">2 col</li>
		</ul>
		<ul>
			<li class="grid-11">11 col</li>
			<li class="grid-1">1 col</li>
		</ul>
		<ul>
			<li class="grid-12">12 col</li>
		</ul>
	</article>
	
	<article class="element_example col_10_grid">
		<ul>
			<li class="grid-1">1 col</li>
			<li class="grid-9">9 col</li>
		</ul>
		<ul>
			<li class="grid-2">2 col</li>
			<li class="grid-8">8 col</li>
		</ul>
		<ul>
			<li class="grid-3">3 col</li>
			<li class="grid-7">7 col</li>
		</ul>
		<ul>
			<li class="grid-4">4 col</li>
			<li class="grid-6">6 col</li>
		</ul>
		<ul>
			<li class="grid-5">5 col</li>
			<li class="grid-5">5 col</li>
		</ul>
		<ul>
			<li class="grid-6">6 col</li>
			<li class="grid-4">4 col</li>
		</ul>
		<ul>
			<li class="grid-7">7 col</li>
			<li class="grid-3">3 col</li>
		</ul>
		<ul>
			<li class="grid-8">8 col</li>
			<li class="grid-2">2 col</li>
		</ul>
		<ul>
			<li class="grid-9">9 col</li>
			<li class="grid-1">1 col</li>
		</ul>
		<ul>
			<li class="grid-10">10 col</li>
			<li class="grid-11">11 col</li>
			<li class="grid-12">12 col</li>
		</ul>
	</article>
	
	<article class="element_example col_4_grid">
		<ul>
			<li class="grid-1">1 col</li>
			<li class="grid-3">3 col</li>
		</ul>
		<ul>
			<li class="grid-2">2 col</li>
			<li class="grid-2">2 col</li>
		</ul>
		<ul>
			<li class="grid-3">3 col</li>
			<li class="grid-1">1 col</li>
		</ul>
		<ul>
			<li class="grid-4">4 col</li>
			<li class="grid-5">5 col</li>
			<li class="grid-6">6 col</li>
			<li class="grid-7">7 col</li>
			<li class="grid-8">8 col</li>
			<li class="grid-9">9 col</li>
			<li class="grid-10">10 col</li>
			<li class="grid-11">11 col</li>
			<li class="grid-12">12 col</li>
		</ul>
	</article>
	
	<%= partial :"grids/grid_arguments" %>
