// Use this Sass file to create custom typography silent placeholder extends per your project
// -----------------------------------------------------------------------

// Example: Uncomment this rule to see the effect on the style guide
// -----------------------------------------------------------------------
// %headings_1 {
//   text-decoration: underline;
//   text-shadow: 0 0 20px $shadow_color;
//   &:first-letter {
//     color: orange;
//     font-size: 3em;
//   }
// }
