//
// Standardized abstract color objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend %class; or repurpose the mixin within the class.
//

$alpha_primary:   #ec0036 !default; // red
$bravo_primary:   #299505 !default; // green
$charlie_primary: #ffff87 !default; // yellow
$delta_primary:   #2c46b7 !default; // blue
$echo_primary:    #fc6432 !default; // accent
          
$alpha_gray:      #000 !default;    //black


// Based on object colors, the following imports will create the color scales
// Edit these color config files if you wish to have other then default color math
@import "color/generic_color_math";
@import "color/generic_grayscale_math";


/////// Toadstool's semantic combinations ////////
// Semantic variables should always be matched up with abstract values, never semantic to semantic
// ---------------------------------------------------------------------------------------------------

// abstract 'white' value to easily applied to semantic class objects
$white:                 #fff !default;

// default shadow colors
$shadow_color:          fade-out($alpha_gray, 0.5) !default;

// primary header font color
$primary_header_color:  $alpha_gray !default;

// primary font color for the app
$primary_text:          $bravo_gray !default;

// default <a href="#"> link color
$href_color:            $delta_color !default;
$href_color_alt:        $delta_color_bravo !default;

// used with the <ins> tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color:             $charlie_color !default;

// used with the <mark> tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color:            $charlie_color !default;

// webkit tap highlight color
$webkit_tap_hightlight: $delta_color_bravo !default;

// overrides the default content selection color in the browser
$selection_color:       $charlie_color !default;
$selection_text_color:  $primary_text !default;

// default border color
$border_color:          $charlie_gray !default;


@import "core/color/extends";