// The config file is intended to allow users to quickly redefine core elements of the design
// that will cascade throughout the css to get your design up and running FAST!


/////////////// Config dependencies ////////////////
// -------------------------------------------------------
@import "core/typography/config";




///// default image directory /////
// --------------------------------
// In Sinatra, the images folder resides in the public directory.  This directory is not made publically accessible,
// so simply referencing the images directory will be fine.
$imgDir: "/images/";



/////// OOCSS generic color blocks ////////
// ----------------------------------------------
// Red, green, yellow, blue, accent and black is not law, but a common theme in most designs.  
// Using Toadstool, all you need to do is edit these 6 hex values and everything else is created
// by magic, unicorns and fairy dust!
  $alpha_primary:        #ec0036;        // red
  $bravo_primary:        #299505;        // green
$charlie_primary:        #ffff87;        // yellow
  $delta_primary:        #2c46b7;        // blue
   $echo_primary:        #fc6432;        // accent
   
     $alpha_gray:        #000;           //black




// Based on object colors, the following imports will create the color scales
// Edit these color config files if you wish to have other then default color math
@import "core/color/generic_color_math";
@import "core/color/generic_grayscale_math";

// Gradient colors are needed here to be used semantically 
@import "core/gradients/config";




@import "core/grid/config";




/////// axle's semantic combinations ////////
// Semantic variables should always be matched up with abstract values, never semantic to semantic
// ---------------------------------------------------------------------------------------------------

// abstract 'white' value to easily applied to semantic class objects
$white:                                #fff;

// default shadow colors
$shadow_color:                         fade-out($alpha_gray, 0.5);

// primary header font color
$primary_header_color:                 $alpha_gray;

// primary font color for the app
$primary_text:                         $bravo_gray;

// default <a href="#"> link color
$href_color:                           $delta_color;
$href_color_alt:                       $delta_color_bravo;

// used with the <ins> tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color:                            $charlie_color;

// used with the <mark> tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color:                           $charlie_color;

// webkit tap highlight color
$webkit_tap_hightlight:                $delta_color_bravo;

// overrides the default content selection color in the browser
$selection_color:                      $charlie_color;
$selection_text_color:                 $primary_text;

// default border color
$border_color:                         $charlie_gray;


@import "core/forms/config";


// am I really using these values?
$primary_button_border_color:          $bravo_color;
$secondary_button_border_color:        $bravo_gray;
$button_text:                          $white;

$alert_background_color:               $charlie_color;


// Config defaults for ``standard_rounded_border`` mixin
// -----------------------------------------------------------
$standard_round_corner:                3;                // sets default border radius
$standard_corner_width:                1px;              // sets default border width
$standard_border_color:                $border_color;    // sets default border color

// Config defaults for ``standard_block_spacing`` mixin
// -----------------------------------------------------------
$default_block_spacing:                20;               // sets margin-bottom

// Config defaults for site border style
// -----------------------------------------------------------
$standard_border_style:                solid;

// Config defaults for ``standard_hr`` mixin
// -----------------------------------------------------------
$standard_hr_spacing:                  40;               // sets padding and margin bottom
$standard_hr_color:                    $delta_gray;
$standard_hr_width:                    1px;

// Config values for all default shadows
// -----------------------------------------------------------
$h-shadow:                             0;                // horizontal shadow settings
$v-shadow:                             2;                // vertical shaddow settings
$blur:                                 3;                // blur settings

$inset_color:                          $shadow_color;    // for use with ``dual_box_shadow`` mixin
$ih-shadow:                            0;                // inset horizontal shadow settings
$iv-shadow:                            2;                // inset vertical shaddow settings
$iblur:                                3;                // inset blur settings




/////////////// UI @media breakpoint defaults ////////////////
// -------------------------------------------------------------
$low_res_phone: "screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1)";
$low_res_phone_portrait: "screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait)";
$low_res_phone_landscape: "screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape)";

$low_res_tablet_landscape: "screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) ";