// Toadstool core v0.0.0.1
// This document is not to be edited as it will be versioned
// -----------------------------------------------------------------


////////////// Form mixins ////////////////
// ---------------------------------------

@mixin field_focus {
	&:hover {
		border-color: $form_field_focus_border_color;
	}
	&:focus {
		background-color: $form_field_focus_color;
		border-color: $form_field_focus_border_color;
		outline: none;
	}
}

//////// Form settings //////////



/////////// Alert  mixins //////////////
// -----------------------------------------
@mixin alert_boxes ($background_color, $padding_tb, $padding_lr, $margin_bottom) {
	background-color: $background_color;
	@include grid(12,12.25, combo, $child: alphaomega, $grid_padding: $padding_lr);
	padding-top: #{$padding_tb / $em}em;
	padding-bottom: #{$padding_tb / $em}em;
	margin-bottom: #{$margin_bottom / $em}em;
}
