// Toadstool core v0.0.0.1
// This document is not to be edited as it will be versioned
// -----------------------------------------------------------------

/////// gradient color mixins ////////
// ----------------------------------------------

// In some cases variables were created to represent gradient scales
// this was done as not to repeat the gradient scale when replying for second use case
// See @mixin linear_gradient_bkgimage
// /styles/sass/imports/gradients/_linear_gradient_bkgimage.scss


$alpha_color_gradient_var_w3c: #{$echo_color_bravo 0%,$echo_color_charlie 11%,$echo_color_delta 100%}  !default;
$alpha_color_gradient_var_legacy_safari: #{color-stop(0%,$echo_color_bravo), color-stop(11%,$echo_color_charlie), color-stop(100%,$echo_color_delta)} !default;


$bravo_gradient_alpha: scale-color($echo_color_bravo, $lightness: 10%) !default;
$bravo_gradient_bravo: scale-color($echo_color_charlie, $lightness: 20%) !default;
$bravo_gradient_charlie: scale-color($echo_color_delta, $lightness: 10%) !default;

$bravo_color_gradient_var_w3c: #{$bravo_gradient_alpha 0%,$bravo_gradient_bravo 11%,$bravo_gradient_charlie 100%} !default;
$bravo_color_gradient_var_legacy_safari: #{color-stop(0%,$bravo_gradient_alpha), color-stop(11%,$bravo_gradient_bravo), color-stop(100%,$bravo_gradient_charlie)} !default;


$charlie_color_gradient_var_w3c: #{$echo_color_delta 0%,$echo_color_charlie 89%,$echo_color_bravo 100%};
$charlie_color_gradient_var_legacy_safari: #{color-stop(0%,$echo_color_delta), color-stop(89%,$echo_color_charlie), color-stop(100%,$echo_color_bravo)} !default;


$echo_gradient_alpha: scale-color($fox_gray, $lightness: 30%) !default;
$echo_gradient_bravo: scale-color($delta_gray, $lightness: 30%) !default;


//////// gradient arguments /////////
// ----------------------------------


@import "gradients/mixins/color_gradients";

// This is where new magic may come from
@import "gradients/mixins/area_51";
@import "gradients/mixins/linear_gradient_bkgimage";

@import "gradients/extends";