// Toadstool core v0.0.0.1
// This document is not to be edited as it will be versioned
// -----------------------------------------------------------------


// ...............
// 960 GRID SYSTEM
// ...............
//
// Created by Nathan Smith. See the official site for more info: http://960.gs/
//
// GPL license:
// http://www.gnu.org/licenses/gpl.html
//
// MIT license:
// http://www.opensource.org/licenses/mit-license.php
// ---------------------------------------------------------------------------

// ......................
// Toadstool Grid System
// ......................
//
// Created by Dale Sande
//
// ---------------------------------------------------------------------------


// setting default units of measurement for Toadstool grid solution
// -----------------------------------------------------------------
$grid_type:       12 !default;             // sets default column grid
$grid_uom:        percent !default;        // use either ``em`` or ``percent``
$grid_padding_lr: 0 !default;              // sets default left/right padding inside grid block
$grid_padding_tb: 0 !default;              // sets default top/bottom padding inside grid block
$grid_border:     0 !default;              // sets default border width on all grid blocks
$grid_child:      none !default;           // sets parent child relationship between grid blocks
$grid_align:      default !default;        // by default grids float left. Optional argument is ``center``
$col_base:        10 !default;             // equal to 10px in the standard 960.gs
$col_gutter:      $col_base * 2 !default;  // sets default grid gutter width
$grid_960:        960 / 100% !default;     // grid math for percentages


// the_grid calculates all the variables to define with width of the grid column
@import "grid/lib/the_grid";

// grid_placement based on $child will define alpha or omega placement
@import "grid/lib/grid_placement";

// grid_margin applies $margin_calc from grid_placement
@import "grid/lib/grid_margin";

// Logic support for Push, Pull, Prefix and Suffix
@import "grid/lib/push_logic";

// The mixins that make this grid thing work
@import "grid/mixins";

// The extends that make it awesome
@import "grid/extends";