// All google font includes are placed in the RESET.SCSS file
// -----------------------------------------------------------
@import "../config_files/text";


//// $em always == $font-size ////
$em: $font_size;



//////// heading text mixins //////////
// ------------------------------------------------
@mixin heading ($heading_font_size: $heading_1, $family: default, $line_height: 1em, $color: $primary_header_color, $font_weight: normal, $letter_spacing: 0, $margin_bottom: 20) {
	font-size: #{$heading_font_size / $em}em;
	color: $color;
	line-height: $line_height;
	font-weight: $font_weight;
	margin-bottom: #{$margin_bottom / $heading_font_size}em;
	@if $family == lubalin {
		font-family: $webfont_alpha;
		.ja & {
			font-family: $primary_font_family;
		}
	}
	letter-spacing: $letter_spacing;
}


@mixin subheader ($font_size: $heading_4, $background: $charlie_grey, $color: $alpha_grey) {
	@include heading($heading_font_size: $font_size, $family: lubalin, $line_height: 2em, $color: $color);
	background: $background;
	@include border_radius(#{3 / $font_size}em);
	text-indent: #{10 / $font_size}em;
}

//////// heading text mixins //////////


//////// standard text mixins //////////
// ------------------------------------------------


@mixin small ($margin: auto, $baseline_size: $small_point_size) {
	@include text_baseline($margin, $baseline_size);
}

@mixin medium ($margin: auto, $baseline_size: $font_size) {
	@include text_baseline($margin, $baseline_size);
}

@mixin large ($margin: auto, $baseline_size: $large_point_size) {
	@include font_baseline($margin, $baseline_size);
}

//////// standard text mixins //////////



//////// text with background color mixins //////////
// --------------------------------------------------

@mixin bkg_text ($background: #fff, $text_color: #313131, $href: #1199dd){
	background-color: $background;
	color: $text_color;
	a {
		color: $href;
	}
}

// --------------------------------------------------
//////// text with background color mixins //////////


