<section id="body_copy">
	<header class="toadstool_subheader">
		<h2>body copy</h2>
		<p>Edit values in the <code>_config.scss</code> file to update standard body copy UI.</p>
	</header>
	<article class="element_example">
		<p>Sapiente enim fingerstache, etsy single-origin coffee truffaut sriracha cupidatat viral hella eiusmod whatever. Salvia deserunt terry richardson nostrud irure marfa. Portland sapiente authentic swag. Anim narwhal exercitation consectetur butcher. Pork belly yr banksy occupy twee consectetur. Sustainable cupidatat eiusmod tumblr pour-over brooklyn keffiyeh, DIY 8-bit ex brunch single-origin coffee duis seitan. Mixtape ea 8-bit ennui, viral voluptate authentic culpa aesthetic occaecat art party.</p>
		<p>Master cleanse swag officia selvage ea. Laborum fingerstache non quinoa cliche skateboard aliquip, irony portland. Fixie nihil godard, quis incididunt lomo locavore non quinoa iphone excepteur. Aute mollit food truck, voluptate occupy sed gastropub nostrud banh mi. Narwhal fugiat gluten-free, thundercats ennui lo-fi DIY kale chips nisi. Reprehenderit ea scenester, minim exercitation pork belly ut odd future iphone nostrud nihil. Ethical voluptate seitan high life.</p>
	</article>
	
	<div class="example_code">
<pre class="prettyprint">
&lt;p&gt;Sapiente enim fingerstache, etsy single-origin coffee truffaut sriracha cupidatat viral hella eiusmod whatever. Salvia deserunt terry richardson nostrud irure marfa.&lt;/p&gt;
</pre>
		<p>example markup</p>	
	</div>

	
</section>
