<section id="body_links">
	<header class="toadstool_subheader">
		<h2>body links</h2>
		<p>Edit values in the <code>_config.scss</code> file to update standard links UI.</p>
	</header>
	<article class="element_example">
		<p>Sapiente enim fingerstache, <a href="#">etsy single-origin</a> coffee truffaut sriracha cupidatat viral hella eiusmod whatever.</p>
	</article>
	
	<div class="example_code">
<pre class="prettyprint">
&lt;p&gt;Sapiente enim fingerstache, &lt;a href=&quot;#&quot;&gt;etsy single-origin&lt;/a&gt; coffee truffaut sriracha cupidatat viral hella eiusmod whatever.&lt;/p&gt;
</pre>
		<p>example markup</p>	
	</div>

	
</section>
