<section id="headings">
	<header class="toadstool_subheader">
		<h2>headings</h2>
		<article>
			<p>In Toadstool, presentation is 100% separated from content and markup, this goes for typography too. Heading styles are not beholden to heading tags, but applied via slient classes to the appropiate semantic markup or class as needed.  </p>
			<p><a href="#" class="click_more_headings">Read more ...</a>
		</article>
		
		<article class="read_more_headings hidden">
			<p>Heading styles, by default, use the settings that are formatted in Stipe's library. Semantic headings are styled using <a href="http://goo.gl/iJfy9" target="_blank">pre-made silent classes</a> from Stipe's <a href="http://goo.gl/V81v3" target="_blank">default typograhy</a>. To edit these defaults, use the <a href="http://goo.gl/d9yvC" target="_blank">typography.scss</a> file found in your Toadstool app.</p>
			<p>The <a href="http://goo.gl/xdnQm" target="_blank">@mixin heading</a> allows for four arguments to be passed, <code>$heading_size, $heading_font_family, $heading_color, $heading_font_weight</code>. </p>
			<p>Default values for headings are editable in <a href="http://goo.gl/PqQSK" target="_blank">Toadstool's config file</a>.</p>
		</article>
	
	</header>
	<article class="element_example">
		<h1>@extend %headings_1;</h1>
		<h2>@extend %headings_2;</h2>
		<h3>@extend %headings_3;</h3>
	</article>
	
	<div class="example_code">
<pre class="prettyprint">
&lt;h1&gt;@extend %headings_1;&lt;/h1&gt;
&lt;h2&gt;@extend %headings_2;&lt;/h2&gt;

&lt;article class=&quot;nested_article&quot;&gt;
  &lt;h1&gt;This is a nested header&lt;/h1&gt;
&lt;/article&gt;

&lt;div&gt;Copy in here will look like the headings 1 style&lt;/div&gt;
</pre>
		<p>example markup</p>	
	</div>
	
	<div class="example_code">
<pre class="prettyprint">
// Here is a pretty standard example use
h1 {
  @extend %headings_1;
}

h2 {
  @extend %headings_2;
}

// There may be times when you want a heading style on another selector
.nested_article {
  h1 {
    @extend %headings_3;
  }
}

div {
  @extend %headings_1;
}
</pre>
		<p>example SCSS</p>
	</div>
</section>
