<section id="vertical_rhythm">  
	<header class="toadstool_subheader">
		<h2>vertical rhythm</h2>
		<article>
			<p>To the beat of the rhythm of the night <br>
			Dance until the morning light <br>
			Forget about the worries on your mind <br>
			You can leave them all behind <br>
			To the beat of the rhythm of the night <br>
			Oh the rhythm of the night, oh yeah</p>
			<p><a href="#" class="click_more_rhythm">Read more ...</a>
		</article>
		
		<article class="read_more_rhythm hidden">
			<p>hello world</p>
		</article>
	
	</header>
</section>
