/////// Toadstool's semantic variables /////// 
// Semantic variables should always be matched up with abstract values, never semantic to semantic
// -----------------------------------------------------------------------------

// primary header font color
$primary_header_color:                 $alpha_gray;

// default heading font weight
$heading_font_weight:                  normal;

// primary font color for the app
$primary_text:                         $bravo_gray;
$secondary_text:                       $bravo_gray;

// default `href` link color
$href_color:                           $delta_color;
$href_color_alt:                       $delta_color_bravo;

// default shadow colors
$shadow_color:                         fade-out($alpha_gray, 0.5);

// default border color
$border_color:                         $charlie_gray;



/////// HTML 5 feature colors ///////
// -----------------------------------------------------------------------------
// used with the `ins` tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color:                            $charlie_color;

// used with the `mark` tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color:                           $charlie_color;

// webkit tap highlight color
$webkit_tap_hightlight:                $delta_color_bravo;

// overrides the default content selection color in the browser
$selection_color:                      lighten($alpha_color, 50%);
$selection_text_color:                 $primary_text;



/////// Config defaults for forms /////// 
// -----------------------------------------------------------------------------
$alert_background_color:               $alpha_color;

$input_disabled:                       $bravo_gray;
$input_disabled_bkg:                   lighten($input_disabled, 75%);
$input_disabled_border:                lighten($input_disabled, 50%);
$input_disabled_text:                  lighten($input_disabled, 50%);
                                
$form_field_background_color:          $white;
$form_field_focus_color:               $white;
$form_field_fail_bkg:                  $alpha_color_juliet;
                                
$form_field_border:                    $charlie_gray;
$form_field_border_fail:               $alpha_color_echo;
$form_field_focus_border_color:        $charlie_gray;

$form_field_text_fail:                 $alpha_color_echo;
$form_label_color:                     $alpha_gray;
$optional_field_text_color:            $delta_gray;
$instructional_text:                   $charlie_gray;
$placeholder_text:                     $hotel_gray;
$inline_alert_bkg_color:               $alpha_color_delta;
$inline_alert_text_color:              $white;

// Non-color defaults (currently not represented in the SG view)
// ---------------------------------------------------------
$form_field_text:                     $primary_text;



/////// Config defaults for buttons /////// 
// -----------------------------------------------------------------------------
$button-color:                        $delta-color;
$secondary_button_border_color:       $bravo_gray;
$button_text:                         $white;

// Depricated variable
$primary_button_border_color:         $bravo_color;



/////// Config defaults for ``standard_rounded_border`` mixin /////// 
// -----------------------------------------------------------------------------
$standard_border_color:               $border_color;    // sets default border color

/////// Config defaults for ``standard_hr`` mixin /////// 
// -----------------------------------------------------------------------------
$standard_hr_color:                   $delta_gray;

/////// Config values for all default shadows /////// 
// -----------------------------------------------------------------------------
$inset_color:                         $shadow_color;    // for use with ``dual_box_shadow`` mixin