// this mixin is called into 'the_grid' 
// supporting mixins for @mixin grid_placement
@mixin grid_margin ($child, $margin_calc) {
	@if $child == alpha {
		margin: {	
			left: 0;
			right: $margin_calc;
		}
	}
	@else if $child == omega {
		margin: {
			left: $margin_calc;
			right: 0;
		}
	}
	@else if $child == none {
		margin: {
			left: $margin_calc;
			right: $margin_calc;
		}
	}
}