// REWRITE NOTES!!!!!!!!!!!!!


// Standardized text objects.  NOT to be used as classes appended to a block in the HTML%
// Preferred uses include @extend %class; or repurpose the mixin within the class%
//


//* Text classes */
//* ------------ */
%headings_1 {
	@include heading($heading_font_size: $heading_1, $family: $primary_font_family, $letter_spacing: -1px, $margin_bottom: 10);
}

%headings_2 {
	@include heading($heading_font_size: $heading_2);
}

%headings_3 {
	@include heading($heading_font_size: $heading_3);
}

%headings_4 {
	@include heading($heading_font_size: $heading_4);
}

%subheader_alpha {
	@include subheader($color: $white);
}

%subheader_bravo {
	@include subheader($color: $charlie_gray, $background: $echo_gray);
}

%subheader_charlie {
	@include subheader($background: $echo_gray);
}


%small {
	@include small;
}

%medium {
	@include medium;
}

%large {
	@include large;
}





//* Font family classes */
//* ------------------- */
%primary_font_family {
	font-family: $primary_font_family;
}

%secondary_font_family {
	font-family: $secondary_font_family;
}

%heading_font_family {
	font-family: $heading_font_family;
}





//* text-transform objects */
//* ---------------------- */
%uppercase {
//	@include uppercase;
}
%lowercase {
//	@include lowercase;
}
%capitalize {
//	@include capitalize;
}

//* Hide Text, Kellum Method */
//* ------------------------ */
%hide_text {
	@include hide_text;
}




//* standard content block styling */
//* ------------------------------ */
%bulleted_list {
	@include bulleted_list;
}

%content_block {
	@extend %standard_block_spacing;
	float: left;
	@extend %bulleted_list;
}



