/////// disabled buttons ///////////



// This is your button //
// ---------------------------------------//
@mixin disabled_button {
	background: $input_disabled_bkg;
	border-color: $input_disabled_border;
	color: $input_disabled_text;
	@include text_shadow(0 0 0, transparent);
	.msie &, .ie & {
		@include linear_gradient_legacy_ie ($input_disabled_bkg, $input_disabled_bkg)
	}
	&:hover {
		text-decoration: none;
		
	}
}