/////// secondary buttons ///////////



//This is your button //
//---------------------------------------//
@mixin icon_button {
	@include icon_button_color;
	border-color: scale-color($charlie_grey, $lightness: 30%);
	color: $primary_text;
	@include text-shadow(0 0 0, $white);
	font-weight: bold;
	&:nth-child(n+2) {
		border-color: scale-color($charlie_grey, $lightness: 30%);
	}
	&:hover {
		@include icon_button_hover;
		border-color: scale-color($charlie_grey, $lightness: 10%);
	}
	
	&:active {
		@include icon_button_active;
	}
	
	&[disabled] {
		@include disabled_button;
	}
}