/////// primary buttons ///////////


// This is your button //
// ---------------------------------------//
@mixin primary_button ($font_size: large) {
	@include primary_button_color;
	//@extend .primary_button_color;  
	@include primary_button_border; 
	padding: 0 #{$primary_button_padding / $em}em;
	line-height: 2em;
	@include border_radius(#{4 / $em}em);
	width: auto;
	margin-right: 1em;
	
	// logic states
	&:nth-child(1){
		color: $button_text;
		@include text_shadow(0 1px 1px, $shadow_color);
		font-weight: bold;
	}
	@if $font_size == medium {
		@extend .medium;
	}
	@else if $font_size == large {
		@extend .large;
	}
	
	
	// pseudo states	
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		@include primary_button_hover;
		text-decoration: underline;
		cursor: pointer;
	}
	&:active {
		@include primary_button_active;
	}
	&[disabled] {
		@include disabled_button;
	}
	.ie9 & {
		border-radius: 0;
	}
}


@mixin all_primary_button {
	button, .button {
		@include primary_button;
		&:nth-child(n+2) {
			@include primary_button;
			color: $button_text;
			@include text_shadow(0 1px 1px, $shadow_color);
			font-weight: bold;
		}
	}
}

