//
// Standardized abstract gradient color objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//


/////// OOCSS gradient color ////////
// ----------------------------------------------

/* Gradient color objects */
/* ----------------------- */
%alpha_color_gradient {
	@include alpha_color_gradient;
}

%bravo_color_gradient {
	@include bravo_color_gradient;
}

%charlie_color_gradient {
	@include charlie_color_gradient;
}

%delta_color_gradient {
	@include delta_color_gradient;
}

%echo_color_gradient {
	@include echo_color_gradient;
}

%fox_color_gradient {
	@include fox_color_gradient;
}

%golf_color_gradient {
	@include golf_color_gradient;
}

%hotel_color_gradient {
	@include hotel_color_gradient;
}

%india_color_gradient {
	@include india_color_gradient;
}

/////// OOCSS gradient color mixins ////////
