//
// Standardized grid objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//

// grid ----------------------
.grid_12_1 {
	@include grid(12,1);
}

.grid_12_2 {
	@include grid(12,2);
}

.grid_12_3 {
	@include grid(12,3);
}

.grid_12_4 {
	@include grid(12,4);
}

.grid_12_5 {
	@include grid(12,5);
}

.grid_12_6 {
	@include grid(12,6);
}

.grid_12_7 {
	@include grid(12,7);
}

.grid_12_9 {
	@include grid(12,9);
}

.grid_12_10 {
	@include grid(12,10);
}

.grid_12_11 {
	@include grid(12,11);
}

.grid_12_12 {
	@include grid(12,12);
}

.grid_16_6 {
	@include grid(16,6);
}

.grid_16_12 {
	@include grid(16,12);
}

// push ----------------------

.push_12_1 {
	@include push(12,1);
}

.push_12_2 {
	@include push(12,2);
}

.push_12_3 {
	@include push(12,3);
}

// suffix ----------------------

.suffix_12_3 {
	@include suffix(12,3);
}

// prefix ----------------------

.prefix_12_3 {
	@include prefix(12,3);
}

// push ----------------------

.push_12_3 {
	@include push(12,3);
}

.push_12_5 {
	@include push(12,5);
}

// pull ----------------------

.pull_12_3 {
	@include pull(12,3);
}

// alpha / omega ----------------------

.alpha {
	@include alpha;
}

.omega {
	@include omega;
}
