<div class="example_code">
  <p class="codeToggle"><a><%= path %></a></p>
  <pre class="prettyprint linenums hidden" contenteditable>
<%= code content %>
  </pre>

  <p class="mtime">
    Last modified: <%= mtime %>
  </p>
</div>