<footer class="toadstool_main_footer">
	Toadstool &copy; 2012 -  
	<script type="text/javascript">
		var currentDate = new Date()
		//var day = currentDate.getDate()
		//var month = currentDate.getMonth() + 1
		var year = currentDate.getFullYear()
		document.write(year)
	</script>
	<a href="https://twitter.com/anotheruiguy">@anotheruiguy</a> and <a href="https://twitter.com/jed_foster">@jed_foster</a>.
	It is available for use and modification under the <a href="https://github.com/Anotheruiguy/toadstool/blob/master/doc-src/mit_license.md">MIT license</a>.
</footer>