<section id="username_inputs">
	<header class="toadstool_subheader">
		<h2>username inputs</h2>
		<article>
			<p>Copy goes here about how form inputs work</p>
			<!-- <p><a href="#" class="click_more_typography">Read more ...</a></p> -->
		</article>
		<article class="read_more_inputs hidden"></article>
	</header>
	
	<article class="element_example">
		<form>
			<fieldset>
				<ol>
					<li>
						<label for="login_username">Username</label>
						<input type="text" autocapitalize="off" autocorrect="off" name="username" id="login_username" placeholder="username" />
					</li>		
				</ol>
			</fieldset>
		</form>
	</article>
</section>