$alpha_color:$alpha_primary !default;
$alpha_color_bravo:scale-color($alpha_color,$lightness:10%) !default;
$alpha_color_charlie:scale-color($alpha_color,$lightness:20%) !default;
$alpha_color_delta:scale-color($alpha_color,$lightness:30%) !default;
$alpha_color_echo:scale-color($alpha_color,$lightness:40%) !default;
$alpha_color_fox:scale-color($alpha_color,$lightness:50%) !default;
$alpha_color_golf:scale-color($alpha_color,$lightness:60%) !default;
$alpha_color_hotel:scale-color($alpha_color,$lightness:70%) !default;
$alpha_color_india:scale-color($alpha_color,$lightness:80%) !default;
$alpha_color_juliet:scale-color($alpha_color,$lightness:90%) !default;

$bravo_color:$bravo_primary !default;
$bravo_color_bravo:scale-color($bravo_color,$lightness:10%) !default;
$bravo_color_charlie:scale-color($bravo_color,$lightness:20%) !default;
$bravo_color_delta:scale-color($bravo_color,$lightness:30%) !default;
$bravo_color_echo:scale-color($bravo_color,$lightness:40%) !default;
$bravo_color_fox:scale-color($bravo_color,$lightness:50%) !default;
$bravo_color_golf:scale-color($bravo_color,$lightness:60%) !default;
$bravo_color_hotel:scale-color($bravo_color,$lightness:70%) !default;
$bravo_color_india:scale-color($bravo_color,$lightness:80%) !default;
$bravo_color_juliet:scale-color($bravo_color,$lightness:90%) !default;

$charlie_color:$charlie_primary !default;
$charlie_color_bravo:scale-color($charlie_color,$lightness:10%) !default;
$charlie_color_charlie:scale-color($charlie_color,$lightness:20%) !default;
$charlie_color_delta:scale-color($charlie_color,$lightness:30%) !default;
$charlie_color_echo:scale-color($charlie_color,$lightness:40%) !default;
$charlie_color_fox:scale-color($charlie_color,$lightness:50%) !default;
$charlie_color_golf:scale-color($charlie_color,$lightness:60%) !default;
$charlie_color_hotel:scale-color($charlie_color,$lightness:70%) !default;
$charlie_color_india:scale-color($charlie_color,$lightness:80%) !default;
$charlie_color_juliet:scale-color($charlie_color,$lightness:90%) !default;

$delta_color:$delta_primary !default;
$delta_color_bravo:scale-color($delta_color,$lightness:10%) !default;
$delta_color_charlie:scale-color($delta_color,$lightness:20%) !default;
$delta_color_delta:scale-color($delta_color,$lightness:30%) !default;
$delta_color_echo:scale-color($delta_color,$lightness:40%) !default;
$delta_color_fox:scale-color($delta_color,$lightness:50%) !default;
$delta_color_golf:scale-color($delta_color,$lightness:60%) !default;
$delta_color_hotel:scale-color($delta_color,$lightness:70%) !default;
$delta_color_india:scale-color($delta_color,$lightness:80%) !default;
$delta_color_juliet:scale-color($delta_color,$lightness:90%) !default;

$echo_color:$echo_primary !default;
$echo_color_bravo:scale-color($echo_color,$lightness:10%) !default;
$echo_color_charlie:scale-color($echo_color,$lightness:20%) !default;
$echo_color_delta:scale-color($echo_color,$lightness:30%) !default;
$echo_color_echo:scale-color($echo_color,$lightness:40%) !default;
$echo_color_fox:scale-color($echo_color,$lightness:50%) !default;
$echo_color_golf:scale-color($echo_color,$lightness:60%) !default;
$echo_color_hotel:scale-color($echo_color,$lightness:70%) !default;
$echo_color_india:scale-color($echo_color,$lightness:80%) !default;
$echo_color_juliet:scale-color($echo_color,$lightness:90%) !default;







