	<header class="toadstool_header">
		<h1>grids</h1>
	</header>
	
	<%= partial :"grids/use_definition" %>
	
	<article class="element_example col_24_grid shift">
		<ul>
			<li class="grid-1-24">1</li>
			<li class="grid-23-24">23 col</li>
		</ul>
		<ul>
			<li class="grid-2-24">2 col</li>
			<li class="grid-22-24">22 col</li>
		</ul>
		<ul>
			<li class="grid-3-24">3 col</li>
			<li class="grid-21-24">21 col</li>
		</ul>
		<ul>
			<li class="grid-4-24">4 col</li>
			<li class="grid-20-24">20 col</li>
		</ul>
		<ul>
			<li class="grid-5-24">5 col</li>
			<li class="grid-19-24">19 col</li>
		</ul>
		<ul>
			<li class="grid-6-24">6 col</li>
			<li class="grid-18-24">18 col</li>
		</ul>
		<ul>
			<li class="grid-7-24">7 col</li>
			<li class="grid-17-24">17 col</li>
		</ul>
		<ul>
			<li class="grid-8-24">8 col</li>
			<li class="grid-16-24">16 col</li>
		</ul>
		<ul>
			<li class="grid-9-24">9 col</li>
			<li class="grid-15-24">15 col</li>
		</ul>
		<ul>
			<li class="grid-10-24">10 col</li>
			<li class="grid-14-24">14 col</li>
		</ul>
		<ul>
			<li class="grid-11-24">11 col</li>
			<li class="grid-13-24">13 col</li>
		</ul>
		<ul>
			<li class="grid-12-24">12 col</li>
			<li class="grid-12-24">12 col</li>
		</ul>
	</article>
	
	
	<%= partial :"grids/grid_arguments" %>
