<section id="password_inputs">
	<header class="toadstool_subheader">
		<h2>password inputs</h2>
		<article>
			<p>Copy goes here about how form inputs work</p>
			<!-- <p><a href="#" class="click_more_typography">Read more ...</a></p> -->
		</article>
		<article class="read_more_inputs hidden"></article>
	</header>
	
	<article class="element_example">
		<form>
			<fieldset>
				<ol>
					<li>
						<label for="login_password">Password</label>
						<input type="password" name="password" id="login_password" placeholder="password" tabindex="2" />
					</li>			
				</ol>
		</form>
	</article>
</section>