<section id="primary_button">
  <header class="toadstool_subheader">
    <h2>primary button</h2>
    <article>
      <p>Copy goes here about how form inputs work</p>
      <!-- <p><a href="#" class="click_more_typography">Read more ...</a></p> -->
    </article>
    <article class="read_more_inputs hidden"></article>
  </header>
  
  <article class="element_example">
    <form>
      <fieldset>
        <button>Sign in</button>
      </fieldset>
    </form>
  </article>
</section>