<section id="text_inputs">
	<header class="toadstool_subheader">
		<h2>text inputs</h2>
		<article>
			<p>Copy goes here about how form inputs work</p>
			<!-- <p><a href="#" class="click_more_typography">Read more ...</a></p> -->
		</article>
		<article class="read_more_inputs hidden"></article>
	</header>
	
	<article class="element_example">
		<form>
			<fieldset>
				<ol>
					<li>
						<label for="general_text">General text input</label>
						<input type="text" name="general_text" id="general_text" placeholder="general text" />
					</li>	
				</ol>
			</fieldset>
		</form>
	</article>
</section>