@font-face
{
	font-family:"ITC Lubalin Graph";
	src: url("/Fonts/Lubalin-eot.gif");
	src: local("ITC Lubalin Graph"),
		 url("/Fonts/Lubalin-woff.gif") format("woff"),
		 url("/Fonts/Lubalin-truetype.gif") format("truetype"),
		 url("/Fonts/Lubalin-svg.gif") format("svg");
}