<form>
  <fieldset>
    <ol>
      <li class="fail">
        <label for="general_text">General text input<span>(optional)</span></label>
        <input type="text" name="general_text" id="general_text" placeholder="general text" />
        <p class="instructional">This is instructional text</p>
      </li> 
    </ol>
  </fieldset>
</form>