<form>
  <fieldset>
    <ol>
      <li>
        <label for="general_text">General text input</label>
        <input type="text" name="general_text" id="general_text" placeholder="general text" />
      </li> 
    </ol>
  </fieldset>
</form>